@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  --primary-color: #4988ac;
  --secondary-color: #626262;
}

input,
button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(7, 125px) / 125px 1fr;
  background-image: url(./assets/Background-Image.svg);
}

/* NAV */

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-color: var(--primary-color);
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav {
  grid-row: 2 / 8;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.top-nav,
.bottom-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  margin: 0px 10px 10px 10px;
  border-radius: 15px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

img {
  height: 2.8rem;
  width: 2.8rem;
}

/* Header */

.header {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
}

#avatar-img {
  position: absolute;
  height: 65px;
  width: 65px;
}

#blue-circle {
  position: relative;
  z-index: -1;
  height: 75px;
  width: 75px;
}
.greeting {
  font-weight: 300;
  font-size: 3.5rem;
  margin-left: 2rem;
  flex: 1;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 25vw;
  margin-right: 50px;
}

#search-btn {
  position: absolute;
  right: 50px;
  align-self: center;
  max-height: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  margin-right: 10px;
}

#search-input {
  position: relative;
  border-radius: 10px;
  flex: 1;
  z-index: -1;
  height: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

input,
input::placeholder {
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 0.75rem;
  letter-spacing: 1px;
  color: #a4a5a5;
}

/* Main Container */

.main-container {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 2fr 2fr;
  grid-area: 2 / 2 / 8 / 3;
  gap: 10px;
  margin: 0 10px 10px 0;
}

.tile {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
}

.fund-name {
  grid-column: 1 / span 2;
}

.fund-details {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.fund-diversification {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}

.fund-holdings {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

/* Tiles */

.tile-header-bold {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.tile > p {
  display: flex;
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  align-items: center;
}
